.lists .main-container, .products .main-container {
  align-items: start;
}
.lists .main-container article, .products .main-container article {
  overflow-x: auto;
  padding: 20px;
}
.lists .main-container h4, .products .main-container h4 {
  text-align: center;
  font-size: 2.5rem;
  margin: 20px 0;
}
.lists .main-container .table tr:first-child, .products .main-container .table tr:first-child {
  background-color: #60a5fa;
  color: #f2f2f2;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.lists .main-container .table tr:first-child th, .products .main-container .table tr:first-child th {
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
}
.lists .main-container th, .products .main-container th {
  border: 1px solid;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  max-width: 250px;
  min-width: 90px;
}

.nav-mobile {
  display: none;
}

@media screen and (max-width: 1025px) {
  .user-info {
    cursor: pointer;
  }
  .nav-mobile {
    position: absolute;
    height: 0;
    background: #3b82f6;
    color: #fff;
    right: 0;
    top: 110px;
    width: 150px;
    cursor: pointer;
    z-index: 1;
    display: flex;
    transition: all 0.3s;
    opacity: 0;
  }
  .nav-mobile ul {
    cursor: pointer;
    padding: 10px 20px;
    opacity: 0;
  }
  .nav-mobile ul a {
    color: #fff;
  }
  .nav-mobile.open {
    height: auto;
    opacity: 1;
  }
  .nav-mobile.open ul {
    opacity: 1;
    display: inline-block;
  }
}
.paginador {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginador .ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}
.paginador .ul li {
  position: relative;
}
.paginador .ul a {
  font-weight: 700;
  width: 22px;
  height: 22px;
  text-align: center;
}
.paginador .ul a.active::before {
  background: #3b82f6;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 2px;
  display: block;
  content: "";
  bottom: 8px;
  position: absolute;
  z-index: -1;
}
.paginador .ul a.active {
  color: #fff;
}

.products .eliminar_input {
  cursor: pointer;
}
.products .formularioAjax {
  padding: 0 30px 30px;
}
.products .formularioAjax input {
  margin: 5px 5px 5px 0;
}
.products .form-grid form {
  display: flex;
}
.products .form-grid form .botones-producto {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.products .form-grid form #inputContainer, .products .form-grid form .inputContainer {
  width: 100%;
  max-width: 540px;
  margin-top: 20px;
}
.products .form-grid form #inputContainer input, .products .form-grid form .inputContainer input {
  width: 100px;
}
.products .form-grid form button[type=button] {
  width: 100px;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 30px;
}

.inputContainer, .div-input-dom {
  width: 100%;
  margin-top: 20px;
}
.inputContainer input, .div-input-dom input {
  width: 100px;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.grid-container {
  height: 100vh;
  display: flex;
  position: relative;
}

.logo {
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0f4f8;
}

header {
  height: 90px;
  grid-area: header;
  background-color: #3b82f6;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #60a5fa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.main-container {
  grid-area: section;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

aside {
  min-height: 550px;
  height: auto;
  grid-area: sidebar;
  width: 200px;
  background-color: white;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li a {
  color: #4b5563;
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
}

nav ul li a:hover {
  color: #3b82f6;
}

main {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  gap: 1rem;
  width: 70%;
  height: 70%;
}

.grid-item {
  grid-column: span 6;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.5rem;
  min-height: 10rem;
  max-width: 12rem;
}
.grid-item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.grid-item:hover {
  background-color: #eff6ff;
  border-color: #3b82f6;
}

.icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

footer {
  max-height: 30px;
  grid-area: footer;
  background-color: #e5e7eb;
  color: #4b5563;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

a.home {
  cursor: pointer;
  align-self: flex-end;
  font-size: 50px;
  position: fixed;
  right: 30px;
  bottom: 50px;
}

.form-grid {
  width: 50%;
  height: max-content;
  position: relative;
  background: #fff;
  margin: 20px;
  border-radius: 0.5rem;
}

.form-grid h2 {
  text-align: center;
  margin: 30px;
  font-size: 2rem;
}

.form-grid form {
  position: relative;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-input {
  position: relative;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  background-color: white;
  padding: 0.5rem;
  text-align: center;
}

input, .div-input input, .div-search input {
  height: 1.5rem;
  border-radius: 0.2rem;
}

.focus {
  outline: none;
  border-color: red;
}

.div-input .submit, .submit {
  width: 100%;
  font-size: 1.4rem;
  border: 1px solid transparent;
  height: 2rem;
}

.div-input .submit:hover, .submit:hover {
  background-color: #eff6ff;
  border: 1px solid #3b82f6;
}

.form-grid label {
  font-size: 1.2rem;
}

.div-search {
  text-align: center;
}
.div-search h4 {
  display: inline-block;
  margin-bottom: 10px;
}

.span-separator {
  margin: 20px auto;
  position: relative;
  display: block;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .main-container {
    max-width: 1024px;
    height: auto;
    padding: 30px 0;
  }
  .grid {
    position: relative;
    margin: 0 auto;
    width: auto;
    height: auto;
  }
  .grid-item {
    height: 10rem;
    min-height: auto;
    width: 10rem;
  }
}
@media screen and (max-width: 1025px) {
  .main-container {
    min-width: 1000px;
    align-items: start;
  }
  aside {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .main-container {
    min-width: 700px;
    align-items: start;
  }
  .form-grid {
    width: 90%;
  }
  .grid-item {
    grid-column: span 8;
  }
  aside {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .form-grid form {
    display: flex;
  }
  .div-input {
    width: 90%;
  }
  .grid {
    gap: 0.5rem;
  }
  .main-container {
    min-width: 360px;
    align-items: start;
    position: relative;
  }
  .form-grid {
    width: 90%;
  }
  .grid-item {
    grid-column: span 12;
    padding: 10px;
    height: 9.5rem;
    width: 9.5rem;
  }
  aside {
    display: none;
  }
  a.home {
    position: absolute;
    bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
